<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<style type="text/css">
  @import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);
</style>
<style type="text/css">
  .sbimge{
    height: 200px;
    width: 200px;
  }
  .profile{
  margin-top: 25px;
}
.profile h1{
  font-weight: normal;
  font-size: 20px;
  margin:10px 0 0 0;
}
.profile h2{
  font-size: 14px;
  font-weight: lighter;
  margin-top: 5px;
}
.profile .img-box{
  opacity: 1;
  display: block;
  position: relative;
}
.profile .img-box:after{
  content:"";
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
</style>
<body>
<div class="container-fluid">

  <center class="lead">PiC WoRlD</center>

  <div class="row">

    <div class="col-xs-12 col-sm-3 profile">
      <div class="img-box">
      <img class="img-responsive img-thumbnail sbimge" src="https://pbs.twimg.com/profile_images/473506797462896640/_M0JJ0v8.png">
      <h1>Marrie Doi</h1>
      <h2>Co-founder/ Operations</h2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 profile">
      <div class="img-box">
      <img class="img-responsive img-thumbnail sbimge" src="https://pbs.twimg.com/profile_images/473506797462896640/_M0JJ0v8.png">
      <h1>Marrie Doi</h1>
      <h2>Co-founder/ Operations</h2>
      </div>
    </div>
        <div class="col-xs-12 col-sm-3 profile">
      <div class="img-box">
      <img class="img-responsive img-thumbnail sbimge" src="https://pbs.twimg.com/profile_images/473506797462896640/_M0JJ0v8.png">
      <h1>Marrie Doi</h1>
      <h2>Co-founder/ Operations</h2>
      </div>
    </div>
        <div class="col-xs-12 col-sm-3 profile">
      <div class="img-box">
      <img class="img-responsive img-thumbnail sbimge" src="https://pbs.twimg.com/profile_images/473506797462896640/_M0JJ0v8.png">
      <h1>Marrie Doi</h1>
      <h2>Co-founder/ Operations</h2>
      </div>
    </div>
        <div class="col-xs-12 col-sm-3 profile">
      <div class="img-box">
      <img class="img-responsive img-thumbnail sbimge" src="https://pbs.twimg.com/profile_images/473506797462896640/_M0JJ0v8.png">
      <h1>Marrie Doi</h1>
      <h2>Co-founder/ Operations</h2>
      </div>
    </div>
        <div class="col-xs-12 col-sm-3 profile">
      <div class="img-box">
      <img class="img-responsive img-thumbnail sbimge" src="https://pbs.twimg.com/profile_images/473506797462896640/_M0JJ0v8.png">
      <h1>Marrie Doi</h1>
      <h2>Co-founder/ Operations</h2>
      </div>
    </div>
        <div class="col-xs-12 col-sm-3 profile">
      <div class="img-box">
      <img class="img-responsive img-thumbnail sbimge" src="https://pbs.twimg.com/profile_images/473506797462896640/_M0JJ0v8.png">
      <h1>Marrie Doi</h1>
      <h2>Co-founder/ Operations</h2>
      </div>
    </div>
  </div>
  

</div>
<footer>
  <% include ../partials/footer.ejs %>
</footer>
</body>
</html>
